.container{
    width: 80%;
    margin: 5px;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}
.contact-right{
    flex-basis: 40%;
    padding: 30px;
    color: #fff;
    height: 290px;

}
h1{
    margin-bottom: 10px;
    margin-left: 6%;
}
.container p{
    margin-left: 6%;
    margin-top: 5px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 75%;
}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    
    
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100PX;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(red, green, blue, alpha);
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color:rgb(0, 0, 0);
    font-weight: 600;
    margin-right: 10px;
}
.social-links{
    margin-left: 10%;
    margin-top: 100px;
}
.social-links a{
    font-size: 40px;
    color: #3b00dd;
    margin-right: 20px;
}
.social-links a:hover{
    color: #ff4321;
}
span{
    color: #3b00dd;
}
button a{
    text-decoration: none;
    color:white;
}
.new h1{
    margin-top: 10px;
    margin-left: 82%;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
    top: 50%;
    left: 50%;
}
.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: black;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    
}
input[type="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1800px black;
} 
.check:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 20px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(-50px);
}
.check:after{
    content: '';
    position: absolute;
    top: 2px;
    right: 20px;
    background: black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check:after{

    transform: translateX(0px);
}
